<%
	def getCFfromIssue (issue, id)
	  cf = issue.custom_field_values.detect{|i| i.custom_field_id == id}
	  return !cf.nil? ? cf.value : ""
	end
%>
<h2>Планирование выпуска предложений</h2>
<table cellspacing="0" cellspacing="0" class="result-table">
	<thead>
		<tr>
			<th>&nbsp;</th>
			<% @cat.each do |cat| %>
				<th><%= cat %></th>	
			<% end %>
		</tr>
	</thead>
	<tbody>
		<% now = DateTime.now %>
		
		<% (DateTime.now + 7).downto(DateTime.now - 7) do |curDate| %>
			<% sclass = "" %>
			<% if curDate.wday == 0 || curDate.wday == 6  %>
				<% sclass = "holiday" %>
			<% end %>
			<% if (curDate.day == now.day && curDate.month == now.month && curDate.year == now.year) %>
				<% sclass += " now" %>
			<% end %>
			<tr class="<%= sclass%>">
				<% issuesByDate = @data.find_all{ |elem| elem[1].day == curDate.day && elem[1].month == curDate.month && elem[1].year == curDate.year } %>
				<th>
					<span class="date"><%= curDate.day %> <%= @month_names[curDate.month-1] %> <%= curDate.year != now.year ? curDate.year : "" %>, <%= @day_names[curDate.wday] %></span>
					<div class="issues-count">
						<span ><%= issuesByDate.count %></span>
					</div>
					
				</th>
				<% 0.upto(@cat.size-1) do |i| %>
					<td>
						<% issues = @data.find_all{|elem| elem[1].day == curDate.day && elem[1].month == curDate.month && elem[1].year == curDate.year && !elem[0].custom_field_values.detect{|e| e.custom_field_id==7}.nil? && elem[0].custom_field_values.detect{|e| e.custom_field_id==7}.value == @cat[i]} %>
						<div class="issues">
							<% for issueObj in issues %>
								<% issue = issueObj[0] %>
								<% alert = "" %>
								<% if(issue.status.position == 1) %>
									<% alert += "onhold" %>
								<% end %>
								<% if(issue.status.position == 6) %>
									<% alert += " ready" %>
								<% end %>
								<div id="issue-<%= issue.id %>" class="<%= issue.css_classes %> <%= alert %>">
									<p>
										<%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %> 
										<span>(<%= h issue.status %>)</span>
										<span><%= getCFfromIssue(issue, 2) %></span>
										<span><%= getCFfromIssue(issue, 8) %></span>
										<span><%= getCFfromIssue(issue, 9) %></span>
										<span><%= getCFfromIssue(issue, 6) %></span>
										<span>факт: <%= issue.due_date %></span>
										<% if issue.status.is_closed %>
											<span class="online">на сайте</span>
										<% else %>
											<%= progress_bar issue.done_ratio, :width => '80px', :legend => "#{issue.done_ratio}%" %>
										<% end %>
										
									</p>
									<div class="issue-sub-tasks">
										<% issueObj[2].each do |subtask| %>
											<p class="<%= subtask.css_classes %>"><%= link_to subtask.subject.split(" ")[0] + " " + subtask.due_date.to_s + " " + subtask.assigned_to.firstname + " " + subtask.assigned_to.lastname, :controller => 'issues', :action => 'show', :id => subtask.id %></p>
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
					</td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
	
</body>
</html>