<% content_for :header_tags do %>
	<%= stylesheet_link_tag 'ticket_dashboard.css', :plugin => "redmine_ticket_dashboard" %>
	<%= javascript_include_tag 'jquery-1.6.2.min.js', :plugin => "redmine_ticket_dashboard" %>
	<%= javascript_include_tag 'jquery.fixedheadertable.min.js', :plugin => "redmine_ticket_dashboard" %>
	<%= javascript_include_tag 'ticket_dashboard.js', :plugin => "redmine_ticket_dashboard" %>
<% end %>

<%
	def getCFfromIssue (issue, id)
	  cf = issue.custom_field_values.detect{|i| i.custom_field_id == id}
	  return !cf.nil? ? cf.value : ""
	end
%>

<h2>Планирование выполнения задач</h2>
<% now = DateTime.now %>
<div class="table-holder">
	<table cellspacing="0" cellspacing="0" class="result-table">
		<thead>
			<tr>
				<th class="table-corner">&nbsp;</th>
				<% (DateTime.now - 14).upto(DateTime.now + 14) do |curDate| %>
					<% sclass = "" %>
					<% if curDate.wday == 0 || curDate.wday == 6  %><% sclass = "holiday" %><% end %>
					<% if (curDate.day == now.day && curDate.month == now.month && curDate.year == now.year) %><% sclass += " now" %><% end %>
					<th class="<%=sclass%>"><span class="date"><%= curDate.day %> <%= @month_names[curDate.month-1] %> <%= curDate.year != now.year ? curDate.year : "" %> <%= @day_names[curDate.wday] %></span></th>	
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @groups.each do |group| %>
				<tr>
					<td class="th"><span class="group-name"><%=group.name%></span></td>
					<% (DateTime.now - 14).upto(DateTime.now + 14) do |curDate| %>
						<td class="separator">&nbsp;</td>
					<% end %>
				</tr>
				<% group.users.find_all{ |user| user.groups.include?(@dashboard_group)}.each do |user| %>
				<tr>
					<td class="th"><span class="user"><%= link_to h(user.firstname + " " + user.lastname), user_path(user) %></span></td>
					<% (DateTime.now - 14).upto(DateTime.now + 14) do |curDate| %>
						<% sclass = "" %>
						<% if curDate.wday == 0 || curDate.wday == 6  %><% sclass = "holiday" %><% end %>
						<% if (curDate.day == now.day && curDate.month == now.month && curDate.year == now.year) %><% sclass += " now" %><% end %>
						<td class="<%=sclass%>">
							<% day_issues = @issues.find_all { |elem| curDate.to_date.to_s == elem.due_date.to_s && user.id == elem.assigned_to_id }%>
							<% day_issues.each do |issue| %>
							<div id="issue-<%= issue.id %>" class="<%= issue.css_classes %>">
								<p><%= link_to h(truncate(issue.subject, :length => 60)), :controller => 'issues', :action => 'show', :id => issue %>
									<span><%= issue.estimated_hours %></span>
								</p>
							</div>
							<% end %>
						</td>
					<% end %>
				</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>
